<a href="https://colab.research.google.com/github/alexschwartzburg/PYTH225_Homework/blob/master/Alex_Schwartzburg's_Copy_of_%22basic_data_types_psets%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.
a = None
print(a)

None



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

a = 2 #a is my favorite number
print(a)


# Create another variable that represents your favorite color, and do the same steps as above.
b = 'red' #b is your favorite color
print(b)

2
red



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of lyrics from your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.
A = range(99)
for x in A:
  num_bottles = 99-x
  lyrics = f"""{num_bottles} bottles of beer on the wall,
  {num_bottles} bottles of beer, 
  take one down pass it around, 
  {num_bottles - 1} bottles of beer on the wall"""
  print(lyrics)

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game show. As this person plays, you need to update their score to reflect gains and losses in points. Each math operation below dictates the change in the competitor's score to be made after each of his or her actions.

# Complete the below math operations and print the results to show the changes in the competitor's score throughout the game.

latest_score = 100
print(latest_score)

# Add 50
latest_score2= latest_score +50
print(latest_score2)

# Subtract 90
latest_score3= latest_score2-90
print(latest_score3)


# Multiply 10
latest_score4 = latest_score3*10
print(latest_score4)



# Divide 150
latest_score5 = latest_score4 / 150
print(latest_score5)



# Modulus 3
latest_score6 = latest_score5 % 3
print(latest_score6)

100
150
60
600
4.0
1.0



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. 
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."

a = "I'll go to the store, "
b = "if it's not raining"
print(a+b)

I'll go to the store, if it's not raining



### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2
print(a+b)


# B)
c = '0'
d = '2'
print(c+d)


# C)
e = '0'
f = 2
print(e+str(f))

try:
  sum_ef = e + f
except TypeError as typeerror:
  print("Something went wrong!")
  print(typeerror)
except Exception as e:
  print(e)

2
02
02
Something went wrong!
must be str, not int



### P4.PY

In [4]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True
print(a+b)


# B)
c = False
d = False
print(c+d)


# C)
e = True
f = False
print(e+f)


#testing
print(a+b+c+d+e+f)
print(a+b+e) #true = 1
print(c+d) #false = 0

2
0
1
3
3
0

## TYPECASTING

### P1.PY

In [16]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

a = float(five)
b = float(zero)
c = float(neg_8)
d = float(neg_22)

e = int(a)
f = int(b)
g = int(c)
h = int(d)

print(str(e)+" "+str(type(e)))
print(str(f)+" "+str(type(f)))
print(str(g)+" "+str(type(g)))
print(str(h)+" "+str(type(h)))

5 <class 'int'>
0 <class 'int'>
-8 <class 'int'>
-22 <class 'int'>



### P2.PY

In [24]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

list1 = [five,zero,neg_8,T,F]

for x in list1:
  print(str(x)+str(type(x)))
print('\n')

five = str(five)
zero = str(zero)
neg_8 = str(neg_8)
T = str(T)
F = str(F)

list2 = [five,zero,neg_8,T,F]

for x in list2:
  print(str(x)+str(type(x)))
print('\n')

five = int(five)
zero = int(zero)
neg_8 = int(neg_8)
T = bool(T)
F = bool(F)

list3 = [five,zero,neg_8,T,F]

for x in list3:
  print(str(x)+str(type(x)))
print('\n')

#FOr some reason the last one converted to True

5<class 'int'>
0<class 'int'>
-8<class 'int'>
True<class 'bool'>
False<class 'bool'>


5<class 'str'>
0<class 'str'>
-8<class 'str'>
True<class 'str'>
False<class 'str'>


5<class 'int'>
0<class 'int'>
-8<class 'int'>
True<class 'bool'>
True<class 'bool'>



### P3.PY

In [27]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

a = bool(one)
b = bool(zero)
print(a)

# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.
c = float(a)
d = float(b)

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.
e = bool(c)
f = bool(d)

# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.
g = int(e)
h = int(f)

# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10
x = bool(ten)
print(str(x)+str(type(x)))

True
True<class 'bool'>



### P4.PY

In [35]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
T = True
F = False
print(one, zero, T, F)

one = bool(one)
zero = bool(zero)
T = bool(T)
F = bool(F)
print(one, zero, T, F)


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.
int(one)
int(zero)
T
F
print(str(one)+str(type(one)), str(zero)+str(type(zero)))


# C) Use typecasting to turn the latest values for variables 'T' and 'F' back into boolean values. Print the result and the datatype of the result.

1 0 True False
True False True False
True<class 'bool'> False<class 'bool'>

## SHOPPING_LIST

### P1.PY

In [52]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items


item_name_1 = "eggs"
item_name_2 = "milk"
item_name_3 = "butter"
item_name_4 = "bread"
item_name_5 = "cheese"

# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = 3.99
item_price_2 = 3.29
item_price_3 = 4.50
item_price_4 = 2.99
item_price_5 = 14.79

# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = 3
item_quant_2 = 1
item_quant_3 = 1
item_quant_4 = 2
item_quant_5 = 1

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

list2 = [0,1,2,3,4]

names = [item_name_1,item_name_2,item_name_3,item_name_4,item_name_5]
quantities = [item_quant_1,item_quant_2,item_quant_3,item_quant_4,item_quant_5]
prices = [item_price_1,item_price_2,item_price_3,item_price_4,item_price_5]

for x in list2:
  print(str(quantities[x])+" "+names[x]+' = '+str(prices[x]*quantities[x]))

3 eggs = 11.97
1 milk = 3.29
1 butter = 4.5
2 bread = 5.98
1 cheese = 14.79



### P2.PY

In [58]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for name, price, quantity. Here's how it works:

#item_name_1 = input('Name your first item: ') 
	# ^ this will ask user to input value of item_name_1

# use input() function and ask user to name items
item_name_1 = input('Name your 1st item: ') 
item_name_2 = input('Name your 2nd item: ') 
item_name_3 = input('Name your 3rd item: ') 
item_name_4 = input('Name your 4th item: ') 
item_name_5 = input('Name your 5th item: ') 

# use input() function and ask user to name prices
item_price_1 = input('How much is your 1st item: ') 
item_price_2 = input('How much is your 2nd item: ')
item_price_3 = input('How much is your 3rd item: ')
item_price_4 = input('How much is your 4th item: ')
item_price_5 = input('How much is your 5th item: ')

item_price_1 = float(item_price_1) 
item_price_2 = float(item_price_2) 
item_price_3 = float(item_price_3) 
item_price_4 = float(item_price_4) 
item_price_5 = float(item_price_5)

# use input() function and ask user to name quants
item_quant_1 = input('How many of your 1st item: ')
item_quant_2 = input('How many of your 2nd item: ')
item_quant_3 = input('How many of your 3rd item: ')
item_quant_4 = input('How many of your 4th item: ')
item_quant_5 = input('How many of your 5th item: ')

item_quant_1 = float(item_quant_1)
item_quant_2 = float(item_quant_2)
item_quant_3 = float(item_quant_3)
item_quant_4 = float(item_quant_4)
item_quant_5 = float(item_quant_5)

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

# JUST REMEMBER: now this will be defined by the user!!

names = [item_name_1,item_name_2,item_name_3,item_name_4,item_name_5]
quantities = [item_quant_1,item_quant_2,item_quant_3,item_quant_4,item_quant_5]
prices = [item_price_1,item_price_2,item_price_3,item_price_4,item_price_5]

for x in list2:
  print(str(quantities[x])+" "+names[x]+' = '+str(prices[x]*quantities[x]))

Name your 1st item: a
Name your 2nd item: b
Name your 3rd item: c
Name your 4th item: d
Name your 5th item: e
How much is your 1st item: 1
How much is your 2nd item: 2
How much is your 3rd item: 3
How much is your 4th item: 4
How much is your 5th item: 5
How many of your 1st item: 1
How many of your 2nd item: 2
How many of your 3rd item: 3
How many of your 4th item: 4
How many of your 5th item: 5
1.0 a = 1.0
2.0 b = 4.0
3.0 c = 9.0
4.0 d = 16.0
5.0 e = 25.0