<a href="https://colab.research.google.com/github/alexschwartzburg/PYTH225_Homework/blob/master/Alex's_Copy_of_lists_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST OPS

### P1.PY

In [4]:
"""
Basic List Operations I
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.

animals = ['elephant', 'tiger', 'otter', 'orangutan', 'penguin']

# Print the 4th animal on the list.

print(animals[3])

# Add 'tortoise' to the beginning of the list.

animals.insert(0,'tortoise')
print(animals)

# Print the length of the list.
print(len(animals))

# Remove 'orangutan' from the list.
animals.pop(4)

# Sort the list alphabetically and print it out.
print('original was '+str(animals))
animals.sort()
print('new list (sorted) is '+str(animals))

orangutan
['tortoise', 'elephant', 'tiger', 'otter', 'orangutan', 'penguin']
6
original was ['tortoise', 'elephant', 'tiger', 'otter', 'penguin']
new list (sorted) is ['elephant', 'otter', 'penguin', 'tiger', 'tortoise']



### P2.PY

In [14]:
"""
Basic List Operations II
"""

# Declare a list with 5 names, and print out the length of that list.
names = ['donald trump','william barr', 'Dr. Fauci', 'Andrew Cuomo', 'Mike Pence']

# Print the 3rd name on the list
print(names[2])


# Delete the first name on the list
x = names.pop(0)
print(x, names)

# Re-add the name you deleted to the end of the list
names.append(x)
print(names)

# Replace the 2nd name on the list with a new name.
names[1] = 'Fauci comma Dr.'
print(names)


# Add 3 new names to the end of the list.
y = ['name 1','name 2','name 3']
names.extend(y)
print(names)

Dr. Fauci
donald trump ['william barr', 'Dr. Fauci', 'Andrew Cuomo', 'Mike Pence']
['william barr', 'Dr. Fauci', 'Andrew Cuomo', 'Mike Pence', 'donald trump']
['william barr', 'Fauci comma Dr.', 'Andrew Cuomo', 'Mike Pence', 'donald trump']
['william barr', 'Fauci comma Dr.', 'Andrew Cuomo', 'Mike Pence', 'donald trump', 'name 1', 'name 2', 'name 3']



### P3.PY

In [28]:
"""
Math Operations
"""

# Save a list with the numbers `2`, `4`, `6`, and `8` into a variable called `numbers`. Use this variable for all the problems in this PSET.

numbers = [2,4,6,8]

# Print the max of `numbers`.
print('max(numbers) = ',max(numbers))

# Pop the last element in `numbers` off; re-insert it at index `2` and print the resultant list.
x = numbers.pop(-1)
numbers.insert(numbers.index(2),x)
print('numbers with last value popped off and reinserted at 2 = ',numbers)


# Pop the second number in `numbers` off.
y = numbers.pop(1)
print('LIST FROM numbers.pop(1) = ',numbers)

# Append `3` to `numbers`.
numbers.append(3)
print('numbers with 3 appended = ',numbers)

# Print out the average number.
print('average number ',sum(numbers)/len(numbers))

max(numbers) =  8
numbers with last value popped off and reinserted at 2 =  [8, 2, 4, 6]
LIST FROM numbers.pop(1) =  [8, 4, 6]
numbers with 3 appended =  [8, 4, 6, 3]
average number  5.25



## SORTING

### P1.PY

In [6]:
"""
Spotify Playlists - Sorting
"""

# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. 
#Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', \
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours', \
'Vienna', 'Roxanne', 'Dancing in the Moonlight']
print('orignial list = ',playlist_titles,'\n\n')

# Alphabetize these songs and print the result.
playlist_titles.sort()
print('sorted list = ',playlist_titles,'\n\n')


# Now do the reverse.
playlist_titles.reverse()
print('reversed list = ',playlist_titles)

orignial list =  ['Tiny Dancer', 'At Last', 'Fortunate Son', 'Hey Jude', "Isn't She Lovely", 'Just the Way You Are', "I'm Yours", 'Vienna', 'Roxanne', 'Dancing in the Moonlight']


sorted list =  ['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']


reversed list =  ['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']



### P2.PY

In [16]:
"""
Ordering Random Numbers
"""
import random
# Create a list of 6 randomly generated numbers called numbers and sort it in descending order.

numbers = [random.randint(0,9), #1
           random.randint(0,9), #2
           random.randint(0,9), #3
           random.randint(0,9), #4
           random.randint(0,9), #5
           random.randint(0,9)] #6
print('original list = ',numbers)

numbers.sort(reverse = True)
print('list sorted descending = ',numbers)

original list =  [6, 2, 6, 3, 0, 8]
list sorted descending =  [8, 6, 6, 3, 2, 0]

In [9]:
help('list.sort') #Just a quick review of this help entry for any GitPerusers.  It doesn't much help much to figure out how you're supposed to use it.

Help on method_descriptor in list:

list.sort = sort(...)
    L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*

## LIST MANIPULATION

### P1.PY

In [38]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'
x = cell.split('.')
cell_interpretable = x[0]+x[1]+x[2]+x[3]
print('Output1 \n',cell_interpretable, ' #this is a manual/brute force way\n')
cell_interpretable1 = str(cell_interpretable)
print('Output2 \n',cell_interpretable1,' #this is a method using str(), which would be useful for much larger parsed data')

Output1
 11921680143  #this is a manual/brute force way

Output2
 11921680143  #this is a method using str(), which would be useful for much larger parsed data



### P2.PY

In [54]:
"""
Basic Math Ops
"""

# Given the list below, assign the correct values to the variables below.
	# my_sum = 
	# my_min = 
	# my_max = 
	# my_range = 
	# my_mean =


nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]

my_sum = sum(nums)
my_min = min(nums)
my_max = max(nums)
my_range = my_sum - my_min
my_mean = sum(nums)/len(nums)


# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.

print('my_sum = ',my_sum,'\n',
      'my_min = ',my_min,'\n',
			'my_max = ',my_max,'\n',
			'my_range = ',my_range,'\n',
			'my_mean = ',my_mean,'\n')

my_sum =  174
 my_min =  2
 my_max =  30
 my_range =  172
 my_mean =  17.4



### P3.PY

In [70]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1, list2 = [2, 8, 6], [10, 4, 12]
print('Output 1 ',list1)
print('Output 2 ',list2)

# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
x = list1
list3 = list1+list1
print('Output 3 ',list3)


# B) Combine the two given lists and assign them to list4.
list4 = list1+list2
print('Output 4 ',list4)


# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
list3[:2] = [13,16,9]
print('Output 5 ',list3)

# D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = list(set(list3))
print('Output 6 ',list5)


# Take a look at your printed statements to see the evolution of your lists with each step of this problem.

Output 1  [2, 8, 6]
Output 2  [10, 4, 12]
Output 3  [2, 8, 6, 2, 8, 6]
Output 4  [2, 8, 6, 10, 4, 12]
Output 5  [13, 16, 9, 6, 2, 8, 6]
Output 6  [2, 6, 8, 9, 13, 16]



### P4.PY

In [89]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), 
#  each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!'
]

cool_runnings[cool_runnings.index('bobsled')] = 'YOLO'

a = str(cool_runnings)
b = a.replace(',',' ')
c = b.replace('.','.\n')
d = c.replace("'","")
e = d.replace('"',"")
f = e.replace('Its',"It\'s")
print(f)

[Feel  the  rhythm.
  Feel  the  rhyme.
  Get  on  up.
  It's  YOLO  time!]

## LIST CHALLENGES

### P1.PY

In [115]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

#first crack at it
list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]

list1.extend(tuple1)
print(list1,'   # Unclear if this is what you wanted\n')

#2nd crack
list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]

for x in tuple1:
  list1.append(tuple1[tuple1.index(x)][0])
  list1.append(tuple1[tuple1.index(x)][1])

print(list1,'\t # … or … if THIS is what you wanted')

[6, 12, 9, 4, 10, 1, (15, 3), (6, 2), (1, 8)]    # Unclear if this is what you wanted

[6, 12, 9, 4, 10, 1, 15, 3, 6, 2, 1, 8] 	 # … or … if THIS is what you wanted



### P2.PY

In [130]:
"""
CHALLENGE - Core Statistics Calculations
"""

# Given the sample below, find the mean, median, mode, variance, and standard deviation of this sample. Print them out separately, but in the same format as before.
	# my_median = 
	# my_mode = 
	# my_variance = 
	# my_sd = 

import statistics as stat

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]

my_median = stat.median(sample)
my_mode = stat.mode(sample)
my_variance = stat.variance(sample)
my_sd = stat.stdev(sample)

print('RESULTS:\n',
		'median = ', my_median,'\n',
      'my_mode = ', my_mode,'\n',
			'my_variance = ', my_variance,'\n',
			'my_sd = ', my_sd,'\n')


# Once you finish, print out each value **on its own line** in this format: "median = " etc.

RESULTS:
 median =  19.5
 my_mode =  6
 my_variance =  84.17777777777778
 my_sd =  9.174844836714012